# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\编程环境\vueblog\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
